# =========================
# DATASETS (DO NOT PUSH)
# =========================
dataset/
data_dump/
data/
*.jpg
*.png
*.jpeg

# =========================
# MODEL WEIGHTS
# =========================
*.pt
*.pth
*.onnx

# =========================
# PYTHON CACHE
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# ENVIRONMENTS
# =========================
venv/
.env/
.envrc/
*.env

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# LOG FILES
# =========================
*.log

# =========================
# LARGE FILES
# =========================
*.zip
*.tar
*.gz
*.rar

# =========================
# STREAMLIT CACHE
# =========================
.streamlit/

# =========================
# IDE FILES
# =========================
.vscode/
.idea/

# =========================
# JUPYTER
# =========================
.ipynb_checkpoints/