# ------------------------
# DATASETS (DO NOT PUSH)
# ------------------------
dataset/
data_dump/

# ------------------------
# PYTHON CACHE
# ------------------------
__pycache__/
*.pyc
*.pyo

# ------------------------
# ENV / VENV
# ------------------------
venv/
.env/

# ------------------------
# OS FILES
# ------------------------
.DS_Store
Thumbs.db

# ------------------------
# LOGS
# ------------------------
*.log

# ------------------------
# LARGE FILES
# ------------------------
*.zip
*.tar
*.gz

# ------------------------
# JUPYTER
# ------------------------
.ipynb_checkpoints/